.divTabela {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 50%;
  margin-top: 5rem;
}

.divTabela table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.divTabela thead {
  margin: 10px;
  background-color: rgb(164, 178, 199);
}

.divTabela th,
td {
  border: solid 2px rgb(118, 125, 139);
  padding: 1rem;
}
